@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Main Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satoshi", sans-serif;
}

body {
    --sb-track-color: #b1dae7;
    --sb-thumb-color: #f3bbcc;
    --sb-size: 10px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

/* Start Menu Hover Effect */
/* .relative:hover .absolute {
    opacity: 100;
    visibility: visible;
} */
/* End Menu Hover Effect */

/* Start Center Search Input */
.mx-4 {
    margin-right: auto;
    margin-left: auto;
}
/* End Center Search Input */
